body {
    background-color: #181818;
    color: #ffffff;
    font-family:'Segoe UI';
    padding: 0;
    margin: 0;
    text-shadow: #000751 2px -2px 0px;
    box-sizing: border-box;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 125vh;
}

h1 {
    text-align: center;
}

a {
    color: lightblue;
    text-decoration: none;
    padding-bottom: 10px;
    text-decoration: none;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px);
    transition: 2.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: 2.5s;
}

button {
    /* other button styles */
    position: relative;
    left: -25px;
}
button::before {
    content: "";
    display: block;
    position: absolute;
    width: 25px;
    height: 100%;
    top: 0;
    left: -25px;
}
button:hover {
    /* other button hover styles */
    transform: translateX(25px);
}
button:hover::before {
    left: 0;
}

button > a {
    color: white;
}

html {
    scroll-behavior: smooth;
    text-align: center;
    box-sizing: border-box;
}

button:hover, button:focus {
    transform: translateY(-7.5px);
    transition: 0.5s;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-image: linear-gradient(0deg, rgb(101, 0, 159, 0.5) 40%, rgba(13, 0, 255, 0.5) 100%);
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(0deg, rgb(101, 0, 159) 40%, rgba(13, 0, 255) 100%);
    border-radius: 10px;
    box-shadow: #000000;
}

